.inspector {
  display: inline-block;
  font: bold 14px helvetica, sans-serif;
  color: black; /* Grey 100 */
  cursor: default;
}

.inspector table {
  border-collapse: separate;
  border-spacing: 2px;
}

.inspector td, th {
  padding: 2px;
}

.inspector input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.inspector input:disabled {
  background-color: #BDBDBD; /* Grey 400 */
  color: #616161; /* Grey 700 */
}

.inspector select {
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

